.navbar {
  background-color: $darker-color;
  border-bottom: 2px solid $primary-color;

  .navbar-nav .nav-item {
    width: 10%;
    border: 2px solid $lighter-color;
    border-radius: 10rem;
    margin: 0 1rem 0 1rem;
    text-align: center;
    &:hover {
      border-color: $secondary-color;
    }

    a.nav-link {
      color: $lighter-color;
      &:hover {
        color: $secondary-color;
        text-decoration: none;
      }
    }
  }
}

.navbar-admin {
  height: 100%;
  min-height: 100vh;
  overflow-y: auto;
  background-color: $darker-color;

  .nav-admin-title {
    text-align: center;
    border-bottom: 2px solid $primary-color;

    h2 {
      color: $lighter-color;
      font-family: $font-title;
      font-weight: bold;
    }
  }

  a.nav-link {
    color: $lighter-color;
    margin-left: 1rem;
    &:hover {
      color: $secondary-color;
      text-decoration: none;
    }
  }

  .list-separator {
    height: 0;
    width: 50%;
    border-bottom: 1px dashed $lighter-color;
  }
}
