$primary-color: #f800bb;
$secondary-color: #1abc9c;
$darker-color: #0a2342;
$lighter-color: #f0f0f0;
$font-body: 'Lato', sans-serif;
$font-title: 'Quicksand', sans-serif;
$font-size-title: 2.4rem;
$font-size-body: 1.2rem;

